{% block header %}
    <div class="item">
        <div class="ui floating dropdown labeled search icon button">
            <i class="orange world icon"></i>
            <input class="search" autocomplete="off" tabindex="0" />
                <span class="text">
                    {% for locale in locales() %}
                        {% if app.request.locale == locale.code %}
                            {{ locale.name|capitalize }}
                        {% endif %}
                    {% endfor %}
                </span>
                <div class="menu transition hidden" tabindex="-1">
                    {% for locale in locales() %}
                        <div class="item
                            {%- if app.request.locale == locale.code %} active selected{% endif %}">
                                <a 
                                    style="color: black;" 
                                    href="{{ url(
                                                app.request.get('_croute', 'homepage'),
                                                app.request.get('_croute_params', [])|merge({_locale: locale.code})
                                                ) }}">
                                    {{ locale.name|capitalize }}
                                </a>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div class="item">
        <a 
            href="{{ url('fos_user_registration_register') }}" 
            rel="nofollow">
            <h5>{{ 'security.login.signup'|trans({}, 'FOSUserBundle') }}</h5>
        </a>
    </div>
    <div class="item">
        <a 
            href="{{ url('fos_user_security_login') }}" 
            rel="nofollow">
            <h5>{{ 'security.login'|trans({}, 'FOSUserBundle') }}</h5>
        </a>
    </div>
    {{ tree|raw }}
</div>{#! Do NOT remove!, closes opening sidebar div #}
    <div class="pusher" id="content">
        <div class="ui center aligned grid" style="padding-top: 20px;">
            <h1 style="font-size:2.4em;">PartyCravings Inc.</h1>
            {% if categories is not empty %}
                <div class="computer only row">
                    {# All the stacked top categories with unknown number #}
                    <div class="ui secondary menu" style="font-size: 1.2em;">
                        {% for category in categories|slice(0, 4) %}
                            <a 
                                class="item" 
                                href="{{ url('category_show', {'slug':category.slug}) }}">
                                <h3>{{ category }}</h3>
                            </a>
                        {% endfor %}
                            <a 
                                class="item" 
                                href="{{ url('category_index') }}">
                                <h3>{{ 'OTHERS'|trans }}</h3>
                            </a>
                    </div>
                </div>
            {% endif %}
            <header class="ui sticky row borderless menu">
                <div class="ui grid">
                    <div class="computer only row">
                        <div class="three wide column" style="text-align: right;">
                            <div class="ui dropdown">
                                <div class="text" style="position: relative; top: 50%; transform: translateY(50%);">
                                    <span>{{ 'Need help ?'|trans }}</span>
                                    <i class="dropdown icon"></i>
                                </div>
                                <div class="menu">
                                    {% if _country.infoMail is not null %}
                                        <div class="item">
                                            <i class="inverted orange mail icon"></i>
                                            <a href="mailto:{{ _country.infoMail }}">{{ _country.infoMail }}</a>
                                        </div>
                                    {% endif %}
                                    {% if _country.phone is not null %}
                                        <div class="item">
                                            <i class="inverted orange whatsapp icon"></i>
                                            <a href="https://web.whatsapp.com//send?text=How can we help you!&phone={{ _country.phone }}">
                                                {{ _country.phone }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="ui eight wide column">
                            <form>
                                <div class="ui container action input">
                                    <input 
                                        name="query" 
                                        placeholder="{{ 'What are you looking for?'|trans }}" 
                                        type="text" 
                                        />
                                        {% if categories is not empty %}
                                            <select class="ui selection dropdown" name="category">
                                                <option value="">
                                                    {{ 'All Categories'|trans }}
                                                </option>
                                                {% for category in categories %}
                                                    <option value="foods">
                                                        {{ category }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    <button name="search" class="ui orange button" type="submit">
                                        <i class="search icon"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="ui three wide column">
                            <a name="party now" class="ui circular orange right labeled icon button">
                                <i class="right arrow icon"></i>
                                {{ 'PARTY NOW'|trans }}
                            </a>
                        </div>
                        <div class="ui two wide column">
                            <img 
                                alt="john doe" 
                                class="ui avatar image" 
                                src="{{ preload(gravatar('xx', null, null, null, true), {nopush: true}) }}" 
                                />
                            <a 
                                href="{{ url('fos_user_security_logout') }}" 
                                rel="nofollow">
                                {{ 'security.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </div>
                    </div>
                    <div class="ui tablet mobile only row">
                        <div class="ui top attached">
                            <button name="menu" class="ui orange toggle button">
                                <i class="sidebar icon"></i>
                            </button>
                        </div>
                        <form>
                            <div class="ui action input">
                                <input 
                                    name="query" 
                                    placeholder="{{ 'What are you looking for?'|trans }}" 
                                    type="text"
                                    />
                                <button name="search" class="ui orange mini button">
                                    <i class="search icon"></i>
                                </button>
                            </div>
                        </form>
                        <div class="ui right floated image">
                            <a 
                                href="{{ url('fos_user_security_logout') }}" 
                                rel="nofollow">
                                <img 
                                    alt="john doe" 
                                    class="ui avatar image" 
                                    src="{{ preload(gravatar('xx', null, null, null, true), {nopush: true}) }}" 
                                    style="position: relative; top: 50%; transform: translateY(-50%);" 
                                    />
                            </a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="sticky">
            <ul class="sticklr" id="example-1">
                <li>
                    <a class="icon-login" href="#" title="Site switcher"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Show on hover</a>
                        </li>
                        <li>
                            <a class="facebook icon" href="http://themeforest.net/?ref=amatyr4n">ActiveDen</a>
                        </li>
                        <li>
                            <a class="icon-flickr" href="http://codecanyon.net/?ref=amatyr4n">AudioJungle</a>
                        </li>
                        <li>
                            <a class="icon-facebook" href="http://themeforest.net/?ref=amatyr4n">ThemeForest</a>
                        </li>
                        <li>
                            <a class="icon-google" href="http://codecanyon.net/?ref=amatyr4n">VideoHive</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-calendar" href="#" title="Site switcher"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Right-side panel</a>
                        </li>
                        <li>
                            <a class="icon-reddit" href="http://codecanyon.net/?ref=amatyr4n">GraphicRiver</a>
                        </li>
                        <li>
                            <a class="icon-lastfm" href="http://themeforest.net/?ref=amatyr4n">3DOcean</a>
                        </li>
                        <li>
                            <a class="icon-technorati" href="http://codecanyon.net/?ref=amatyr4n">CodeCanyon</a>
                        </li>
                        <li>
                            <a class="icon-yahoo" href="http://themeforest.net/?ref=amatyr4n">Tuts+</a>
                        </li>
                        <li>
                            <a class="icon-dribbble" href="http://themeforest.net/?ref=amatyr4n">PhotoDune</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-login" href="#" title="Search"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Search</a>
                        </li>
                        <li>
                            <form action="#" method="post">
                                <input name="search" placeholder="Type then press Enter.." type="text" value="">
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-twitter" href="#" title="Search"></a>
                    <ul>
                        <li>
                            <a class="icon-tag" href="#">There's nothing here</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="sticklr" id="example-2">
                <li>
                    <a class="icon-tag" href="#" title="Site switcher"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Site Switcher</a>
                        </li>
                        <li>
                            <a class="icon-amazon" href="http://themeforest.net/?ref=amatyr4n">ActiveDen</a>
                        </li>
                        <li>
                            <a class="icon-flickr" href="http://codecanyon.net/?ref=amatyr4n">AudioJungle</a>
                        </li>
                        <li>
                            <a class="icon-facebook" href="http://themeforest.net/?ref=amatyr4n">ThemeForest</a>
                        </li>
                        <li>
                            <a class="icon-google" href="http://codecanyon.net/?ref=amatyr4n">VideoHive</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="icon-reddit" href="http://codecanyon.net/?ref=amatyr4n">GraphicRiver</a>
                        </li>
                        <li>
                            <a class="icon-lastfm" href="http://themeforest.net/?ref=amatyr4n">3DOcean</a>
                        </li>
                        <li>
                            <a class="icon-technorati" href="http://codecanyon.net/?ref=amatyr4n">CodeCanyon</a>
                        </li>
                        <li>
                            <a class="icon-yahoo" href="http://themeforest.net/?ref=amatyr4n">Tuts+</a>
                        </li>
                        <li>
                            <a class="icon-dribbble" href="http://themeforest.net/?ref=amatyr4n">PhotoDune</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-zoom" href="#" title="Search"></a>
                    <ul>
                        <li>
                            <form action="#" method="post">
                                <input name="search" placeholder="Type then press Enter.." type="text" value="">
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-sitemap" href="#" title="Multiple-column ready"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Multiple-column ready</a>
                        </li>
                        <li>
                            <a class="icon-amazon" href="http://themeforest.net/?ref=amatyr4n">ActiveDen</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="icon-flickr" href="http://codecanyon.net/?ref=amatyr4n">AudioJungle</a>
                        </li>
                        <li>
                            <a class="icon-facebook" href="http://themeforest.net/?ref=amatyr4n">ThemeForest</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="icon-google" href="http://codecanyon.net/?ref=amatyr4n">VideoHive</a>
                        </li>
                        <li>
                            <a class="icon-reddit" href="http://codecanyon.net/?ref=amatyr4n">GraphicRiver</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="icon-lastfm" href="http://themeforest.net/?ref=amatyr4n">3DOcean</a>
                        </li>
                        <li>
                            <a class="icon-technorati" href="http://codecanyon.net/?ref=amatyr4n">CodeCanyon</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a class="icon-yahoo" href="http://themeforest.net/?ref=amatyr4n">Tuts+</a>
                        </li>
                        <li>
                            <a class="icon-dribbble" href="http://themeforest.net/?ref=amatyr4n">PhotoDune</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-twitter" href="#" title="Sign-in"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Form example</a>
                        </li>
                        <li>
                            <form method="post">
                                <input name="username" placeholder="username" type="text" value=""> <input name="password" placeholder="password" type="password" value=""> <input name="submit" type="submit" value="Submit">
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-twitter" href="#" title="Sharing"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Sharing</a>
                        </li>
                        <li>
                            <a class="icon-twitter" href="http://twitter.com/">Tweet this on Twitter</a>
                        </li>
                        <li>
                            <a class="icon-delicious" href="http://facebook.com/">Share this on Facebook</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-twitter" href="#" title="Calendar"></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Example use</a>
                        </li>
                        <li>
                            <table class="calendar">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>20</td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="icon-twitter" href="#" title="Notification"><span class="notification-count">3</span></a>
                    <ul>
                        <li class="sticklr-title">
                            <a href="#">Notification (3)</a>
                        </li>
                        <li>
                            <form action="#" method="post">
                                <input name="search" placeholder="Someone is typing.." type="text" value="">
                            </form>
                        </li>
                        <li>
                            <a class="icon-user" href="#">00:32 Hello!</a>
                        </li>
                        <li>
                            <a class="icon-user" href="#">23:52 Not really works</a>
                        </li>
                        <li>
                            <a class="icon-user" href="#">22:07 Just example use</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
{% endblock header %}