{% extends 'base.html.twig' %}

{% block body %}
    <h1>Affiliate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affiliate.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ affiliate.name }}</td>
            </tr>
            <tr>
                <th>Mnemonic</th>
                <td>{{ affiliate.mnemonic }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ affiliate.comments }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ affiliate.contact }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ affiliate.email }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ affiliate.website }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if affiliate.updated %}{{ affiliate.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Affiliatecategoryid</th>
                <td>{{ affiliate.affiliateCategoryId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('affiliates_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('affiliates_edit', { 'id': affiliate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
