{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

  <head>
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>{% block title %}Manage that party you love{% endblock %} • PartyCravings℠</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PartyCravings℠" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="description" content="PartyCravings℠ helps manage that beloved party. All it takes to create that massive party today. All we do is connect you with people that matter the most" />
    <meta name="keywords" content="party, events, birthday, wedding, vendor, meeting, venue, comedian, mc, artiste, musician, singer, celebration" />
    <meta name="author" content="PartyCravings℠" />
    <meta name="theme-color" content="#FF8300" />
    <link rel="search" type="application/opensearchdescription+xml" title="Party search" href="{{ url('site_wide_search_description') }}" />
    <!-- Preconnect for google fonts -->
    <link rel="preconnect" href="{{ preconnect('https://fonts.googleapis.com', { crossorigin :true } ) }}" crossorigin="crossorigin" />
    <link rel="manifest" href="{{ app.request.uriForPath('/build/manifest-main.json') }}" />
    <!-- Page Manifest -->
    {% block indexing %}<meta name="robots" content="index, follow, all" />{% endblock %}
    {% block inlinedCSS %}{% include 'fragments/homeCss.html.twig' %}{% endblock %}

    {% block externalCSS %}
        <link rel="preload" href="{{ preload('https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic&subset=latin', {crossorigin :true, nopush: true}) }}" type="text/css" as="style" onload="this.rel='stylesheet'" />
        <link rel="preload" href="{{ preload(asset('build/app.css'), {nopush: true}) }}" type="text/css" as="style" onload="this.rel='stylesheet'" />
        <link rel="preload" href="{{ preload(asset('build/global.css'), {nopush: true}) }}" type="text/css" as="style" onload="this.rel='stylesheet'" />
    {% endblock %}

    {% jshrink %}
        <script type="text/javascript">if (window.top !== window.self){window.top.location = window.self.location.href;}</script>
        {% include "GoogleBundle:Analytics:async.html.twig" %}
        {% block richSnippets %}
            {% include 'snippets/website.jsonld.twig' %}
        {% endblock %}
        {% block breadcrumbs %}
            {{ wo_render_breadcrumbs() }}
        {% endblock %}
    {% endjshrink %}

  </head>
        <body>
            {% block body %}
                <div class="ui vertical inverted orange sidebar menu">
                    {{ render_esi(url('sitewide_header', {'_croute' : app.request.get('_route'), '_croute_params' : app.request.get('_route_params')})) }}
                        {% block content %}{% endblock %}
                    {{ render_esi(url('sitewide_footer')) }}
                </div>
            {% endblock %}

            {% jshrink %}
                {% block javascripts %}
                    <noscript>
                        <link href="{{ asset('build/app.css') }}" rel="stylesheet" type="text/css" />
                        <link href="{{ asset('build/global.css') }}" rel="stylesheet" type="text/css" />
                    </noscript>
                    <script>
                        !function(e){"use strict";var t=function(t,n,r){function o(e){if(i.body)return e();setTimeout(function(){o(e)})}function a(){d.addEventListener&&d.removeEventListener("load",a),d.media=r||"all"}var l,i=e.document,d=i.createElement("link");if(n)l=n;else{var s=(i.body||i.getElementsByTagName("head")[0]).childNodes;l=s[s.length-1]}var u=i.styleSheets;d.rel="stylesheet",d.href=t,d.media="only x",o(function(){l.parentNode.insertBefore(d,n?l:l.nextSibling)});var f=function(e){for(var t=d.href,n=u.length;n--;)if(u[n].href===t)return e();setTimeout(function(){f(e)})};return d.addEventListener&&d.addEventListener("load",a),d.onloadcssdefined=f,f(a),d};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),function(e){if(e.loadCSS){var t=loadCSS.relpreload={};if(t.support=function(){try{return e.document.createElement("link").relList.supports("preload")}catch(e){return!1}},t.poly=function(){for(var t=e.document.getElementsByTagName("link"),n=0;n<t.length;n++){var r=t[n];"preload"===r.rel&&"style"===r.getAttribute("as")&&(e.loadCSS(r.href,r,r.getAttribute("media")),r.rel=null)}},!t.support()){t.poly();var n=e.setInterval(t.poly,300);e.addEventListener&&e.addEventListener("load",function(){t.poly(),e.clearInterval(n)}),e.attachEvent&&e.attachEvent("onload",function(){e.clearInterval(n)})}}}(this);
                    </script>
                    <script src="{{ preload('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js', {
                        crossorigin :true,
                        nopush: true
                    } ) }}"></script>
                    <script src="{{ preload('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js', 
                    {
                        crossorigin :true,
                        nopush: true
                    }) }}"></script>
                    <script src="{{ preload(asset('build/app.js'), {nopush: true}) }}" type="text/javascript"></script>
                    <script src="{{ preload(asset('build/sticklr.js'), {nopush: true}) }}" type="text/javascript"></script>
                    <script type='text/javascript'>window.vapidPublicKey = '{{ vapidPublicKey }}';</script>
                    <script type="text/javascript">
                        $('.ui.checkbox').checkbox();
                        $(".ui.embed").embed();
                        $('.menu .item').tab();
                        $('.ui.rating').rating('disable');
                        $('.ui.dropdown').dropdown({
                          on: 'hover'
                        });
                        $('img.lazy').visibility({
                          type: 'image',
                          transition: 'fade in',
                          duration: 300
                        });
                        $('header').visibility({
                                type: 'fixed'
                              });
                        if (/Android|BlackBerry|iPhone|iPad|iPod|webOS/i.test(navigator.userAgent) === false) {
                          $('#example-1').sticklr({
                            showOn: 'hover',
                            stickTo: 'right',
                          });
                        } //run sticklr, not a mobile device
                        else {
                          $('.toggle.button').click(function() {
                            $('.ui.sidebar').sidebar('toggle');
                          });
                        } //mobile device, initialise sidebar instead
                        </script>
                {% endblock %}
            {% endjshrink %}

            {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
            <!-- Page rendered on {{ 'now'|date('long', 'UTC') }} -->
        </body>
</html>
{% endspaceless %}