{% extends 'base.html.twig' %} {% block content %}

      <div id="slider-top" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/001.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/005.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/006.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/007.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/008.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/009.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/010.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/011.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/024.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/025.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/026.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/027.jpg') }}" /></div>
          <div style="background-color:#ff7c28;">
            <div style="position:absolute;top:50px;left:50px;width:450px;height:62px;z-index:0;font-size:16px;color:#000000;line-height:24px;text-align:left;padding:5px;box-sizing:border-box;">
              Photos in this slider are to demostrate jssor slider,
              <br/> which are not licensed for any other purpose.
            </div>
          </div>
        </div>
        <!-- Bullet Navigator -->
        <div class="jssorb057" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75" data-u="navigator" style="position:absolute;bottom:12px;right:12px;">
          <div class="i" data-u="prototype" style="width:16px;height:16px;">
            <svg style="position:absolute;top:0;left:0;width:100%;height:100%;" viewBox="0 0 16000 16000">
              <circle class="b" cx="8000" cy="8000" r="5000"></circle>
            </svg>
          </div>
        </div>
        <!-- Arrow Navigator -->
        <div class="jssora073" data-autocenter="2" data-scale="0.75" data-scale-left="0.75" data-u="arrowleft" style="width:50px;height:50px;top:0px;left:30px;">
          <svg style="position:absolute;top:0;left:0;width:100%;height:100%;" viewBox="0 0 16000 16000">
            <path class="a" d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z"></path>
          </svg>
        </div>
        <div class="jssora073" data-autocenter="2" data-scale="0.75" data-scale-right="0.75" data-u="arrowright" style="width:50px;height:50px;top:0px;right:30px;">
          <svg style="position:absolute;top:0;left:0;width:100%;height:100%;" viewBox="0 0 16000 16000">
            <path class="a" d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z"></path>
          </svg>
        </div>
      </div>
      <!-- #endregion Jssor Slider End -->
      <div id="slider-bottom" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:150px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:150px;overflow:hidden;">
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/001.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/005.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/006.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/007.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/008.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/009.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/010.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/011.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/024.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/025.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/026.jpg') }}" /></div>
          <div class="image"><img data-u="image" alt="#" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" data-src="{{ asset('images/027.jpg') }}" /></div>
        </div>
        <!-- Bullet Navigator -->
        <div class="jssorb057" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75" data-u="navigator" style="position:absolute;bottom:12px;right:12px;">
          <div class="i" data-u="prototype" style="width:16px;height:16px;">
            <svg style="position:absolute;top:0;left:0;width:100%;height:100%;" viewBox="0 0 16000 16000">
              <circle class="b" cx="8000" cy="8000" r="5000"></circle>
            </svg>
          </div>
        </div>
        <!-- Arrow Navigator -->
        <div class="jssora073" data-autocenter="2" data-scale="0.75" data-scale-left="0.75" data-u="arrowleft" style="width:50px;height:50px;top:0px;left:30px;">
          <svg style="position:absolute;top:0;left:0;width:100%;height:100%;" viewBox="0 0 16000 16000">
            <path class="a" d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z"></path>
          </svg>
        </div>
        <div class="jssora073" data-autocenter="2" data-scale="0.75" data-scale-right="0.75" data-u="arrowright" style="width:50px;height:50px;top:0px;right:30px;">
          <svg style="position:absolute;top:0;left:0;width:100%;height:100%;" viewBox="0 0 16000 16000">
            <path class="a" d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z"></path>
          </svg>
        </div>
      </div>
      <div class="ui fluid" style="padding:2vw;">
        <div class="ui orange dividing header">
          <div class="ui top attached inverted tabular menu" style="font-family: 'Quicksand', sans-serif; background-color: #edf3ff;">
            <a class="active orange item" data-tab="first" style="color: black;">
              Featured
            </a>
            <a class="orange item" data-tab="second" style="color: black;">
              Trending
            </a>
            <a class="orange item" data-tab="third" style="color: black;">
              Crazy Deals
            </a>
          </div>
        </div>
        <div class="ui bottom attached tab active" data-tab="first">
          <div class="ui doubling four cards fluid">
            <div class="card">
              <div class="image">
                <div class="ui embed" alt="#" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolorjj
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab" data-tab="second">
          <div class="ui doubling four cards fluid">
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached tab" data-tab="third">
          <div class="ui doubling four cards fluid">
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
            <div class="card">
              <div class="image">
                <div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="https://www.youtube.com/embed/O6Xo21L0ybE"></div>
                <noscript><img alt="#" height="400" src="{{ asset('images/demo-4.jpg') }}" width="600" /></noscript>
              </div>
              <div class="extra aligned center">
                Lorel Ipsum Dolor
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>&nbsp;
      <div class="ui container">
        <h2 style="font-family: 'Quicksand', sans-serif; text-align:center; font-size:2.2em;">UPCOMING PARTIES</h2>
        <div class="ui doubling three cards fluid">
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
              <div class="ui star rating" data-rating="3"></div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
              <div class="ui star rating" data-rating="3"></div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
              <div class="ui star rating" data-rating="3"></div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
              <div class="ui star rating" data-rating="3"></div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
              <div class="ui star rating" data-rating="3"></div>
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
              <div class="ui star rating" data-rating="3"></div>
            </div>
          </div>
        </div>
      </div>&nbsp;
      <div class="ui container">
        <h2 style="font-family: 'Quicksand', sans-serif; text-align:center; font-size:1.9em;">FROM THE BLOG</h2>
        <div class="ui three cards fluid">
          <div class="card">
            <div class="image">
              <img alt="#" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" height="100%" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" width="100%" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="demo image" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img alt="demo image" data-src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" src="{{ asset('build/images/demo-5.00db1207.jpg') }}" />
              <noscript><img alt="demo image" src="{{ asset('build/images/demo-2.474d12e3.jpg') }}" /></noscript>
            </div>
            <div class="extra aligned center">
              Lorel Ipsum Dolor
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
