{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accesstokens list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accessToken in accessTokens %}
            <tr>
                <td><a href="{{ path('accesstoken_show', { 'id': accessToken.id }) }}">{{ accessToken.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accesstoken_show', { 'id': accessToken.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('accesstoken_edit', { 'id': accessToken.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accesstoken_new') }}">Create a new accessToken</a>
        </li>
    </ul>
{% endblock %}
