{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carrier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrier.id }}</td>
            </tr>
            <tr>
                <th>Idreference</th>
                <td>{{ carrier.idReference }}</td>
            </tr>
            <tr>
                <th>Idtaxrulesgroup</th>
                <td>{{ carrier.idTaxRulesGroup }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ carrier.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ carrier.url }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ carrier.active }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ carrier.deleted }}</td>
            </tr>
            <tr>
                <th>Suspended</th>
                <td>{{ carrier.suspended }}</td>
            </tr>
            <tr>
                <th>Shippinghandling</th>
                <td>{{ carrier.shippingHandling }}</td>
            </tr>
            <tr>
                <th>Rangebehavior</th>
                <td>{{ carrier.rangeBehavior }}</td>
            </tr>
            <tr>
                <th>Ismodule</th>
                <td>{% if carrier.isModule %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isfree</th>
                <td>{% if carrier.isFree %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Shippingexternal</th>
                <td>{{ carrier.shippingExternal }}</td>
            </tr>
            <tr>
                <th>Needrange</th>
                <td>{{ carrier.needRange }}</td>
            </tr>
            <tr>
                <th>Externalmodulename</th>
                <td>{{ carrier.externalModuleName }}</td>
            </tr>
            <tr>
                <th>Shippingmethod</th>
                <td>{{ carrier.shippingMethod }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ carrier.position }}</td>
            </tr>
            <tr>
                <th>Maxwidth</th>
                <td>{{ carrier.maxWidth }}</td>
            </tr>
            <tr>
                <th>Maxheight</th>
                <td>{{ carrier.maxHeight }}</td>
            </tr>
            <tr>
                <th>Maxdepth</th>
                <td>{{ carrier.maxDepth }}</td>
            </tr>
            <tr>
                <th>Maxweight</th>
                <td>{{ carrier.maxWeight }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ carrier.grade }}</td>
            </tr>
            <tr>
                <th>Group</th>
                <td>{{ carrier.group }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ carrier.language }}</td>
            </tr>
            <tr>
                <th>Vendor</th>
                <td>{{ carrier.vendor }}</td>
            </tr>
            <tr>
                <th>Taxrulesgroupvendor</th>
                <td>{{ carrier.taxRulesGroupVendor }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ carrier.zone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carrier_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carrier_edit', { 'id': carrier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
