{% extends 'base.html.twig' %}

{% block body %}
    <h1>Address</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Idstate</th>
                <td>{{ address.idState }}</td>
            </tr>
            <tr>
                <th>Idmanufacturer</th>
                <td>{{ address.idManufacturer }}</td>
            </tr>
            <tr>
                <th>Idsupplier</th>
                <td>{{ address.idSupplier }}</td>
            </tr>
            <tr>
                <th>Idwarehouse</th>
                <td>{{ address.idWarehouse }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ address.alias }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ address.company }}</td>
            </tr>
            <tr>
                <th>Address1</th>
                <td>{{ address.address1 }}</td>
            </tr>
            <tr>
                <th>Address2</th>
                <td>{{ address.address2 }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ address.postcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{ address.other }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ address.phone }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ address.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Vatnumber</th>
                <td>{{ address.vatNumber }}</td>
            </tr>
            <tr>
                <th>Dateadd</th>
                <td>{{ address.dateAdd }}</td>
            </tr>
            <tr>
                <th>Dateupd</th>
                <td>{{ address.dateUpd }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ address.active }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ address.deleted }}</td>
            </tr>
            <tr>
                <th>Suspende</th>
                <td>{{ address.suspende }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ address.format }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('address_edit', { 'id': address.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
