{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idprofile</th>
                <th>Idlang</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Passwd</th>
                <th>Plainpwd</th>
                <th>Lastpwdgen</th>
                <th>Statsdatefrom</th>
                <th>Statsdateto</th>
                <th>Statscomparefrom</th>
                <th>Statscompareto</th>
                <th>Statscompareoption</th>
                <th>Preselectdaterange</th>
                <th>Bocolor</th>
                <th>Active</th>
                <th>Optin</th>
                <th>Idlastorder</th>
                <th>Idlastcustomermessage</th>
                <th>Idlastcustomer</th>
                <th>Lastconnectiondate</th>
                <th>Vendor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td>{{ employee.idProfile }}</td>
                <td>{{ employee.idLang }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.passwd }}</td>
                <td>{{ employee.plainPwd }}</td>
                <td>{{ employee.lastPwdGen }}</td>
                <td>{{ employee.statsDateFrom }}</td>
                <td>{{ employee.statsDateTo }}</td>
                <td>{{ employee.statsCompareFrom }}</td>
                <td>{{ employee.statsCompareTo }}</td>
                <td>{{ employee.statsCompareOption }}</td>
                <td>{{ employee.preselectDateRange }}</td>
                <td>{{ employee.boColor }}</td>
                <td>{{ employee.active }}</td>
                <td>{{ employee.optin }}</td>
                <td>{{ employee.idLastOrder }}</td>
                <td>{{ employee.idLastCustomerMessage }}</td>
                <td>{{ employee.idLastCustomer }}</td>
                <td>{{ employee.lastConnectionDate }}</td>
                <td>{{ employee.vendor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employee_show', { 'id': employee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new employee</a>
        </li>
    </ul>
{% endblock %}
