{% extends 'base.html.twig' %}

{% block content %}
	{% set currency = app.request.attributes.get('_country').defaultCurrency %}
			<div class="ui grid">
				<div class="ui four wide computer tablet sixteen wide mobile column">
					<div class="ui container vertical menu" style="height: 85vh;">
						{{ tree|raw }}
					</div>
				</div>
				<div class="ui twelve wide computer tablet sixteen wide mobile container column">
				{% if category %}
					{% set file =  category.uploadedFiles %}
							{% if file is not null and file.mimetype matches '/^image.*/' %}
								<div class="image"><img class="lazy" height="150" width="100%" data-u="image" alt="{{ file.originalName }}" src="data:image/svg+xml;base64, {{ file.silhouette|base64encode }}" data-src="{{ vich_uploader_asset(file, 'actualFile') }}"/></div>
							{% elseif file is not null and file.mimetype matches '/^video.*/' %}
								<div class="image">
									<div class="ui embed" height="150" width="100%" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="{{ vich_uploader_asset(file, 'actualFile') }}"></div>
								 </div>
							{% endif %}
				{% endif %}
					<form>
							<select class="ui selection dropdown">
								<option selected="selected" value="all">
									{{ 'Location'|trans }}
								</option>
								{% if locationtree is iterable %}
									{% for location in locationtree %}
										<option value="{{ location.slug }}">{{ location }}</option>
									{% endfor %}
								{% endif %}
							</select>
							<button class="ui center aligned primary button" >
								{{ 'Filter'|trans }}<i class="right arrow icon"></i>
							</button>
					</form>
					<div class="ui grid">
						<div class="ui twelve wide computer tablet sixteen wide mobile column">
							<br>
								<div class="ui stackable two cards fluid">
									{% for service in services %}
									  <div class="orange card">
									  	{% set file =  service.uploadedFiles.0 %}
										{% if file is not null and file.mimetype matches '/^image.*/' %}
											<div class="image"><img class="lazy" alt="{{ file.originalName }}" src="data:image/svg+xml;base64, {{ file.silhouette|base64encode }}" data-src="{{ vich_uploader_asset(file, 'actualFile') }}"/></div>
										{% elseif file is not null and file.mimetype matches '/^video.*/' %}
											<div class="image">
												<div class="ui embed" data-placeholder="{{ asset('images/demo-4.jpg') }}" data-url="{{ vich_uploader_asset(file, 'actualFile') }}"></div>
												
											</div>
										{% endif %}
										<div class="content">
										  <div class="header"><a href="{{ url('site_services_show', {'slug':service.slug})}}" hreflang="{{ app.request.locale }}"><h2>{{ service.name}}</h2><a></div>
										  <div class="meta">
										  	<br/>
											<div class="ui star rating" data-rating="{{ service.averageRating }}"></div>
											<br/>
											<span>{{ service.countRating }} {{ 'customer review(s)'|trans }}</span>
										  </div>
										  <div class="description">
											<h5>{{ service.serviceDescriptions.description|easyadmin_truncate|md2html}}</h5>
											{% for feature in service.features %}
											<span><i class="orange {{ feature.icon }} icon"></i>{{ feature.name }}</span><br>
										{% endfor %}
										  </div>
										</div>
										<div class="extra content">
										  <span class="right floated">
											<a class="ui circular primary button" href="{{ url('site_services_show', {'slug':service.slug})}}" hreflang="{{ app.request.locale }}">{{ 'More details'|trans }}</a>
										  </span>
										  <span class="left floated"><i class="money icon"></i>
										  	
										  		{{ currency }} {{ service.serviceDescriptions.hourlyPrice }} {{ 'Hourly'|trans }}</span>
										</div>
									  </div>
									{% endfor %}
									</div>
								</div>
							<div class="ui four wide computer tablet sixteen wide mobile column">
								<div class="ui vertical segment">
									{{ ivory_google_map_container(map) }}
									
									{% jshrink %}
										{{ ivory_google_map_css(map) }}
										{{ ivory_google_map_js(map) }}
										{{ ivory_google_api([map]) }}
									{% endjshrink %}
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}