{% extends 'base.html.twig' %}

{% block body %}
    <h1>Campaigns list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Masterid</th>
                <th>Name</th>
                <th>Assignedto</th>
                <th>Listid</th>
                <th>Active</th>
                <th>Description</th>
                <th>Type</th>
                <th>Cost</th>
                <th>Template</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Createdby</th>
                <th>Complete</th>
                <th>Visibility</th>
                <th>Dateadd</th>
                <th>Dateend</th>
                <th>Launchdate</th>
                <th>Dateupd</th>
                <th>Lastactivity</th>
                <th>Updatedby</th>
                <th>Sendas</th>
                <th>Enableredirectlinks</th>
                <th>Openrate</th>
                <th>Clickrate</th>
                <th>Unsubscriberate</th>
                <th>Isenabled</th>
                <th>Issuspended</th>
                <th>Isdeleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campaign in campaigns %}
            <tr>
                <td><a href="{{ path('campaigns_show', { 'id': campaign.id }) }}">{{ campaign.id }}</a></td>
                <td>{{ campaign.slug }}</td>
                <td>{{ campaign.masterId }}</td>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.assignedTo }}</td>
                <td>{{ campaign.listId }}</td>
                <td>{% if campaign.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ campaign.description }}</td>
                <td>{{ campaign.type }}</td>
                <td>{{ campaign.cost }}</td>
                <td>{{ campaign.template }}</td>
                <td>{{ campaign.subject }}</td>
                <td>{{ campaign.content }}</td>
                <td>{{ campaign.createdBy }}</td>
                <td>{% if campaign.complete %}Yes{% else %}No{% endif %}</td>
                <td>{{ campaign.visibility }}</td>
                <td>{% if campaign.dateAdd %}{{ campaign.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if campaign.dateEnd %}{{ campaign.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if campaign.launchDate %}{{ campaign.launchDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if campaign.dateUpd %}{{ campaign.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if campaign.lastActivity %}{{ campaign.lastActivity|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ campaign.updatedBy }}</td>
                <td>{{ campaign.sendAs }}</td>
                <td>{{ campaign.enableRedirectLinks }}</td>
                <td>{{ campaign.openRate }}</td>
                <td>{{ campaign.clickRate }}</td>
                <td>{{ campaign.unsubscribeRate }}</td>
                <td>{% if campaign.isEnabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if campaign.isSuspended %}Yes{% else %}No{% endif %}</td>
                <td>{% if campaign.isDeleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('campaigns_show', { 'id': campaign.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('campaigns_edit', { 'id': campaign.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('campaigns_new') }}">Create a new campaign</a>
        </li>
    </ul>
{% endblock %}
