{% extends 'base.html.twig' %}

{% block body %}
    <h1>Campaign</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campaign.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ campaign.slug }}</td>
            </tr>
            <tr>
                <th>Masterid</th>
                <td>{{ campaign.masterId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ campaign.name }}</td>
            </tr>
            <tr>
                <th>Assignedto</th>
                <td>{{ campaign.assignedTo }}</td>
            </tr>
            <tr>
                <th>Listid</th>
                <td>{{ campaign.listId }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if campaign.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ campaign.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ campaign.type }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ campaign.cost }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ campaign.template }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ campaign.subject }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ campaign.content }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ campaign.createdBy }}</td>
            </tr>
            <tr>
                <th>Complete</th>
                <td>{% if campaign.complete %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ campaign.visibility }}</td>
            </tr>
            <tr>
                <th>Dateadd</th>
                <td>{% if campaign.dateAdd %}{{ campaign.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if campaign.dateEnd %}{{ campaign.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Launchdate</th>
                <td>{% if campaign.launchDate %}{{ campaign.launchDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupd</th>
                <td>{% if campaign.dateUpd %}{{ campaign.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastactivity</th>
                <td>{% if campaign.lastActivity %}{{ campaign.lastActivity|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ campaign.updatedBy }}</td>
            </tr>
            <tr>
                <th>Sendas</th>
                <td>{{ campaign.sendAs }}</td>
            </tr>
            <tr>
                <th>Enableredirectlinks</th>
                <td>{{ campaign.enableRedirectLinks }}</td>
            </tr>
            <tr>
                <th>Openrate</th>
                <td>{{ campaign.openRate }}</td>
            </tr>
            <tr>
                <th>Clickrate</th>
                <td>{{ campaign.clickRate }}</td>
            </tr>
            <tr>
                <th>Unsubscriberate</th>
                <td>{{ campaign.unsubscribeRate }}</td>
            </tr>
            <tr>
                <th>Isenabled</th>
                <td>{% if campaign.isEnabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Issuspended</th>
                <td>{% if campaign.isSuspended %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isdeleted</th>
                <td>{% if campaign.isDeleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('campaigns_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('campaigns_edit', { 'id': campaign.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
