{% extends 'base.html.twig' %}

{% block body %}
    <h1>Manufacturers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Coordinatelat</th>
                <th>Coordinatelong</th>
                <th>Isenabled</th>
                <th>Issuspended</th>
                <th>Dateadd</th>
                <th>Dateupd</th>
                <th>Promotionid</th>
                <th>Rating</th>
                <th>Credrating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td><a href="{{ path('manufacturers_show', { 'id': manufacturer.id }) }}">{{ manufacturer.id }}</a></td>
                <td>{{ manufacturer.name }}</td>
                <td>{{ manufacturer.location }}</td>
                <td>{{ manufacturer.coordinateLat }}</td>
                <td>{{ manufacturer.coordinateLong }}</td>
                <td>{% if manufacturer.isEnabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if manufacturer.isSuspended %}Yes{% else %}No{% endif %}</td>
                <td>{% if manufacturer.dateAdd %}{{ manufacturer.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if manufacturer.dateUpd %}{{ manufacturer.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ manufacturer.promotionId }}</td>
                <td>{{ manufacturer.rating }}</td>
                <td>{{ manufacturer.credRating }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manufacturers_show', { 'id': manufacturer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('manufacturers_edit', { 'id': manufacturer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manufacturers_new') }}">Create a new manufacturer</a>
        </li>
    </ul>
{% endblock %}
