{% extends 'base.html.twig' %}

{% block body %}
    <h1>Manufacturer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ manufacturer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ manufacturer.name }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ manufacturer.location }}</td>
            </tr>
            <tr>
                <th>Coordinatelat</th>
                <td>{{ manufacturer.coordinateLat }}</td>
            </tr>
            <tr>
                <th>Coordinatelong</th>
                <td>{{ manufacturer.coordinateLong }}</td>
            </tr>
            <tr>
                <th>Isenabled</th>
                <td>{% if manufacturer.isEnabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Issuspended</th>
                <td>{% if manufacturer.isSuspended %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Dateadd</th>
                <td>{% if manufacturer.dateAdd %}{{ manufacturer.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupd</th>
                <td>{% if manufacturer.dateUpd %}{{ manufacturer.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Promotionid</th>
                <td>{{ manufacturer.promotionId }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ manufacturer.rating }}</td>
            </tr>
            <tr>
                <th>Credrating</th>
                <td>{{ manufacturer.credRating }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manufacturers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('manufacturers_edit', { 'id': manufacturer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
