{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deliveries list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idvendor</th>
                <th>Idvendorgroup</th>
                <th>Idcarrier</th>
                <th>Idrangeprice</th>
                <th>Idrangeweight</th>
                <th>Idzone</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td><a href="{{ path('delivery_show', { 'id': delivery.id }) }}">{{ delivery.id }}</a></td>
                <td>{{ delivery.idVendor }}</td>
                <td>{{ delivery.idVendorGroup }}</td>
                <td>{{ delivery.idCarrier }}</td>
                <td>{{ delivery.idRangePrice }}</td>
                <td>{{ delivery.idRangeWeight }}</td>
                <td>{{ delivery.idZone }}</td>
                <td>{{ delivery.price }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('delivery_show', { 'id': delivery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('delivery_edit', { 'id': delivery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('delivery_new') }}">Create a new delivery</a>
        </li>
    </ul>
{% endblock %}
