{% extends 'base.html.twig' %}

{% block body %}
    <h1>Media list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Associationtype</th>
                <th>Associationid</th>
                <th>Uploadedby</th>
                <th>Filename</th>
                <th>Name</th>
                <th>Nameid</th>
                <th>Dateadd</th>
                <th>Dateupd</th>
                <th>Private</th>
                <th>Description</th>
                <th>Mimetype</th>
                <th>Filesize</th>
                <th>Drive</th>
                <th>Accesskey</th>
                <th>Image</th>
                <th>Audio</th>
                <th>Video</th>
                <th>Isenabled</th>
                <th>Issuspended</th>
                <th>Isdeleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                <td>{{ medium.associationType }}</td>
                <td>{{ medium.associationId }}</td>
                <td>{{ medium.uploadedBy }}</td>
                <td>{{ medium.fileName }}</td>
                <td>{{ medium.name }}</td>
                <td>{{ medium.nameId }}</td>
                <td>{{ medium.dateAdd }}</td>
                <td>{% if medium.dateUpd %}{{ medium.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if medium.private %}Yes{% else %}No{% endif %}</td>
                <td>{{ medium.description }}</td>
                <td>{{ medium.mimetype }}</td>
                <td>{{ medium.filesize }}</td>
                <td>{% if medium.drive %}Yes{% else %}No{% endif %}</td>
                <td>{{ medium.accessKey }}</td>
                <td>{% if medium.image %}Yes{% else %}No{% endif %}</td>
                <td>{% if medium.audio %}Yes{% else %}No{% endif %}</td>
                <td>{% if medium.video %}Yes{% else %}No{% endif %}</td>
                <td>{% if medium.isEnabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if medium.isSuspended %}Yes{% else %}No{% endif %}</td>
                <td>{% if medium.isDeleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_show', { 'id': medium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('media_edit', { 'id': medium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_new') }}">Create a new medium</a>
        </li>
    </ul>
{% endblock %}
