{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Associationtype</th>
                <td>{{ medium.associationType }}</td>
            </tr>
            <tr>
                <th>Associationid</th>
                <td>{{ medium.associationId }}</td>
            </tr>
            <tr>
                <th>Uploadedby</th>
                <td>{{ medium.uploadedBy }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ medium.fileName }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ medium.name }}</td>
            </tr>
            <tr>
                <th>Nameid</th>
                <td>{{ medium.nameId }}</td>
            </tr>
            <tr>
                <th>Dateadd</th>
                <td>{{ medium.dateAdd }}</td>
            </tr>
            <tr>
                <th>Dateupd</th>
                <td>{% if medium.dateUpd %}{{ medium.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Private</th>
                <td>{% if medium.private %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ medium.description }}</td>
            </tr>
            <tr>
                <th>Mimetype</th>
                <td>{{ medium.mimetype }}</td>
            </tr>
            <tr>
                <th>Filesize</th>
                <td>{{ medium.filesize }}</td>
            </tr>
            <tr>
                <th>Drive</th>
                <td>{% if medium.drive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Accesskey</th>
                <td>{{ medium.accessKey }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{% if medium.image %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Audio</th>
                <td>{% if medium.audio %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{% if medium.video %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isenabled</th>
                <td>{% if medium.isEnabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Issuspended</th>
                <td>{% if medium.isSuspended %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isdeleted</th>
                <td>{% if medium.isDeleted %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('media_edit', { 'id': medium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
