{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Subtype</th>
                <th>Level</th>
                <th>Visibility</th>
                <th>Text</th>
                <th>Associationtype</th>
                <th>Associationid</th>
                <th>User</th>
                <th>Timestamp</th>
                <th>Dateupd</th>
                <th>Important</th>
                <th>Sticky</th>
                <th>Color</th>
                <th>Fontcolor</th>
                <th>Linkcolor</th>
                <th>Locationid</th>
                <th>Recordlinks</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.type }}</td>
                <td>{{ event.subtype }}</td>
                <td>{{ event.level }}</td>
                <td>{{ event.visibility }}</td>
                <td>{{ event.text }}</td>
                <td>{{ event.associationType }}</td>
                <td>{{ event.associationId }}</td>
                <td>{{ event.user }}</td>
                <td>{% if event.timestamp %}{{ event.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.dateUpd %}{{ event.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.important %}Yes{% else %}No{% endif %}</td>
                <td>{% if event.sticky %}Yes{% else %}No{% endif %}</td>
                <td>{{ event.color }}</td>
                <td>{{ event.fontColor }}</td>
                <td>{{ event.linkColor }}</td>
                <td>{{ event.locationId }}</td>
                <td>{{ event.recordLinks }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('events_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('events_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
