{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event.type }}</td>
            </tr>
            <tr>
                <th>Subtype</th>
                <td>{{ event.subtype }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ event.level }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ event.visibility }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ event.text }}</td>
            </tr>
            <tr>
                <th>Associationtype</th>
                <td>{{ event.associationType }}</td>
            </tr>
            <tr>
                <th>Associationid</th>
                <td>{{ event.associationId }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ event.user }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{% if event.timestamp %}{{ event.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateupd</th>
                <td>{% if event.dateUpd %}{{ event.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Important</th>
                <td>{% if event.important %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sticky</th>
                <td>{% if event.sticky %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ event.color }}</td>
            </tr>
            <tr>
                <th>Fontcolor</th>
                <td>{{ event.fontColor }}</td>
            </tr>
            <tr>
                <th>Linkcolor</th>
                <td>{{ event.linkColor }}</td>
            </tr>
            <tr>
                <th>Locationid</th>
                <td>{{ event.locationId }}</td>
            </tr>
            <tr>
                <th>Recordlinks</th>
                <td>{{ event.recordLinks }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('events_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
