{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accounts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Deletedat</th>
                <th>Issuspended</th>
                <th>Facebook_id</th>
                <th>Facebook_access_token</th>
                <th>Google_id</th>
                <th>Google_access_token</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ path('accounts_show', { 'id': account.id }) }}">{{ account.id }}</a></td>
                <td>{{ account.slug }}</td>
                <td>{% if account.deletedAt %}{{ account.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if account.isSuspended %}Yes{% else %}No{% endif %}</td>
                <td>{{ account.facebookid }}</td>
                <td>{{ account.facebookaccesstoken }}</td>
                <td>{{ account.googleid }}</td>
                <td>{{ account.googleaccesstoken }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accounts_show', { 'id': account.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('accounts_edit', { 'id': account.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accounts_new') }}">Create a new account</a>
        </li>
    </ul>
{% endblock %}
