{% extends 'base.html.twig' %}

{% block body %}
    <h1>Services list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Vendorid</th>
                <th>Manufacturerid</th>
                <th>Categorydefaultid</th>
                <th>Vendordefaultid</th>
                <th>Taxrulesid</th>
                <th>Onsale</th>
                <th>Approved</th>
                <th>Deleted</th>
                <th>Suspended</th>
                <th>Quantity</th>
                <th>Minimalquantiy</th>
                <th>Price</th>
                <th>Wholesaleprice</th>
                <th>Wholesalethreshold</th>
                <th>Unitpriceratio</th>
                <th>Additionalshippingcost</th>
                <th>Reference</th>
                <th>Location</th>
                <th>Loccoordinates</th>
                <th>Width</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Lenght</th>
                <th>Outofstock</th>
                <th>Quantitydiscount</th>
                <th>Customizable</th>
                <th>Uploadedfiles</th>
                <th>Textfields</th>
                <th>Active</th>
                <th>Redirecttype</th>
                <th>Idproductredirected</th>
                <th>Availablefororder</th>
                <th>Availabledate</th>
                <th>Servicecondition</th>
                <th>Showprice</th>
                <th>Indexed</th>
                <th>Visibility</th>
                <th>Dateadd</th>
                <th>Dateupd</th>
                <th>Advancedstockmanagementt</th>
                <th>Packstocktype</th>
                <th>Attachments</th>
                <th>Attribute</th>
                <th>Attributecombination</th>
                <th>Attributeimage</th>
                <th>Category</th>
                <th>Class</th>
                <th>Attributevendor</th>
                <th>Carrier</th>
                <th>Countrytax</th>
                <th>Download</th>
                <th>Vendorreductioncache</th>
                <th>Language</th>
                <th>Sale</th>
                <th>Vendor</th>
                <th>Supplier</th>
                <th>Tag</th>
                <th>Products</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.id }}</a></td>
                <td>{{ service.vendorId }}</td>
                <td>{{ service.manufacturerId }}</td>
                <td>{{ service.categoryDefaultId }}</td>
                <td>{{ service.vendorDefaultId }}</td>
                <td>{{ service.taxRulesId }}</td>
                <td>{{ service.onSale }}</td>
                <td>{{ service.approved }}</td>
                <td>{{ service.deleted }}</td>
                <td>{{ service.suspended }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ service.minimalQuantiy }}</td>
                <td>{{ service.price }}</td>
                <td>{{ service.wholesalePrice }}</td>
                <td>{{ service.wholesaleThreshold }}</td>
                <td>{{ service.unitPriceRatio }}</td>
                <td>{{ service.additionalShippingCost }}</td>
                <td>{{ service.reference }}</td>
                <td>{{ service.location }}</td>
                <td>{{ service.locCoordinates }}</td>
                <td>{{ service.width }}</td>
                <td>{{ service.height }}</td>
                <td>{{ service.weight }}</td>
                <td>{{ service.lenght }}</td>
                <td>{{ service.outOfStock }}</td>
                <td>{{ service.quantityDiscount }}</td>
                <td>{{ service.customizable }}</td>
                <td>{{ service.uploadedFiles }}</td>
                <td>{{ service.textFields }}</td>
                <td>{{ service.active }}</td>
                <td>{{ service.redirectType }}</td>
                <td>{{ service.idProductRedirected }}</td>
                <td>{{ service.availableForOrder }}</td>
                <td>{{ service.availableDate }}</td>
                <td>{{ service.serviceCondition }}</td>
                <td>{{ service.showPrice }}</td>
                <td>{{ service.indexed }}</td>
                <td>{{ service.visibility }}</td>
                <td>{{ service.dateAdd }}</td>
                <td>{{ service.dateUpd }}</td>
                <td>{{ service.advancedStockManagementt }}</td>
                <td>{{ service.packStockType }}</td>
                <td>{{ service.attachments }}</td>
                <td>{{ service.attribute }}</td>
                <td>{{ service.attributeCombination }}</td>
                <td>{{ service.attributeImage }}</td>
                <td>{{ service.category }}</td>
                <td>{{ service.class }}</td>
                <td>{{ service.attributeVendor }}</td>
                <td>{{ service.carrier }}</td>
                <td>{{ service.countryTax }}</td>
                <td>{{ service.download }}</td>
                <td>{{ service.vendorReductionCache }}</td>
                <td>{{ service.language }}</td>
                <td>{{ service.sale }}</td>
                <td>{{ service.vendor }}</td>
                <td>{{ service.supplier }}</td>
                <td>{{ service.tag }}</td>
                <td>{{ service.products }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('service_show', { 'id': service.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('service_edit', { 'id': service.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('service_new') }}">Create a new service</a>
        </li>
    </ul>
{% endblock %}
