{% block _service_uploadedFiles_widget %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/blueimp/jQuery-File-Upload/master/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/blueimp/jQuery-File-Upload/master/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="https://rawgithub.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload.js"></script>

    <table class="table">
        <tbody>
            {% for file in easyadmin.item.uploadedFiles %}
    	       {% set randomValue = random() %}
                    <tr>
                        <td>{{ file.originalName }}</td>
                        <td>
                            {% if file.mimetype matches '/^image.*/' %}

                                <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ randomValue }}" data-featherlight-close-on-click="anywhere">
                                    <img alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}" />
                                </a>
        	                   <div id="easyadmin-lightbox-{{ randomValue }}" class="easyadmin-lightbox">
                                    <img alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}" />
        	                   </div>


    	                   {% elseif file.mimetype matches '/^video.*/' %}
                                <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ randomValue }}" data-featherlight-close-on-click="anywhere">
                                    <video alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}"></video>
                                </a>
                                <div id="easyadmin-lightbox-{{ randomValue }}" class="easyadmin-lightbox">
                                    <video alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}"></video>
        	                   </div>
    		
    	                   {% else %}
                                <a href="{{ vich_uploader_asset(file, 'actualFile') }}">{{ file.originalName }}</a>
    	                   {% endif %}
                        </td>
                        <td>
                            <a href="#" class="js-delete-file" data-url="">&times;</a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    <span class="fileupload-button">
        <span class="fa fa-plus"> Add files...</span>
        <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('gallery') }}" multiple="multiple" />
    </span>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#fileupload').fileupload({
        	maxChunkSize: 1000000 // 1 MB
        });
        $('.js-delete-file').on('click', function(e) {
            e.preventDefault();
            alert('todo');
        });
    });
    </script>

{% endblock %}