
{% for file in value %}
	{% set randomValue = random() %}
	{% if file.mimetype matches '/^image.*/' %}

		<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ randomValue }}" data-featherlight-close-on-click="anywhere">
			<img alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}" />
		</a>
    	<div id="easyadmin-lightbox-{{ randomValue }}" class="easyadmin-lightbox">
    		<img alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}" />
    	</div>
    	<br/>


	{% elseif file.mimetype matches '/^video.*/' %}

		<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ randomValue }}" data-featherlight-close-on-click="anywhere">
			<video alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}"></video>
		</a>
    	<div id="easyadmin-lightbox-{{ randomValue }}" class="easyadmin-lightbox">
    		<video alt="{{ file.originalName }}" src="{{ vich_uploader_asset(file, 'actualFile') }}"></video>
    	</div>
    	<br/>
		
	{% else %}
		<a href="{{ vich_uploader_asset(file, 'actualFile') }}">{{ file.originalName }}</a>
		<br/>
	{% endif %}
{% endfor %}